/* General */
li{list-style: none;
}

/* My CSS */
.Bg-principal{
    background-color: #08040c;
}
.lista-footer, .icono{
    color: white;
}
.Menu{
    display: flex;
    justify-content:end;
}
.colores-nav{
  background-color:  #e9dec5;
}
