/* General */
li{list-style: none;
}


.Bg-principal{
    background-color: #08040c;
}
.lista-footer{
    color: white;
}
.Menu{
    display: flex;
    justify-content:end;
}
.colores-nav{
  background-color:  #e9dec5;
}